{% extends "website/base.html" %}
{% block content %}
    <h2> About us</h2>

    <p>By making a platform that is only about food, we can give food lovers from all over the world a place to share their knowledge, meet other people who like the same things they do, and learn about new and exciting ways to eat</p>

    <p>We adhere to the UK's Data Protection Act 2018, the General Data Protection Regulation (GDPR), and all other applicable data protection laws. We only collect and process data necessary for providing our services, and users are always informed of their rights, including the right to access, rectify, or delete their data.</p>
{% endblock %}