{% extends "website/base.html" %}
{% block content %}

<section class="section is-medium">

    {% if form.errors %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="notification is-danger">
                    <ul>
                        {% for field_errors in form.errors.values %}
                        {% for error in field_errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </main>
    {% endif %}


    <section class="section">
        <p class="title is-2 has-text-centered">Create a MealMate Account</p>
        <h1 class="subtitle is-5 has-text-centered">It's quick and easy.</h1>
    </section>

    <form method="POST">
        {% csrf_token %}
        <div class="container is-max-desktop">
            <div class="columns is-centered">
                <div class="column">
                    <div class="field ">
                        <label for="" class="label">Username</label>
                        <div class="control">
                            {{ form.username }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column">
                    <div class="field ">
                        <label for="" class="label">Email</label>
                        <div class="control">
                            {{ form.email }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column">
                    <div class="field ">
                        <label for="" class="label">Password</label>
                        <div class="control">
                            {{ form.password1 }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column">
                    <div class="field ">
                        <label for="" class="label">Password Confirmation</label>
                        <div class="control">
                            {{ form.password2 }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns is-centered">
                <div class="column is-2">
                    <div class="actions has-text-centered">
                        <button type="submit" class="button is-danger is-fullwidth">
                            Sign up
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}