<div class="card post mb-6 shadow-md">
   <a href="{% url 'post-detail' post.id %}">
      <div class="card-content">
         <div class="media">
            <div class="media-left">
               <figure class="image is-64x64">
                  <img src="{{ post.author.profile.image.url }}" alt="Placeholder image">
               </figure>
            </div>
            <div class="media-content">
               <p class="title is-3">
                  {% if post.type == 'MEAL' %}
                  <small><i class="fa-solid fa-utensils mr-2"></i></small>
                  {% elif post.type == 'RECIPE' %}
                  <small><i class="fa-solid fa-kitchen-set mr-2"></i></small>
                  {% endif %}
                  {{post.title}}
               </p>
               <p class="subtitle is-6">
                  <a href="/members/{{post.author.id}}">
                     @{{post.author.username}}
                  </a>
               </p>
            </div>
         </div>

         <div class="content">
            <div class="mb-5">
               {{post.description}}
            </div>
            {% if post.ingredients %}
            <div>
               <div class="has-text-grey-dark has-text-weight-bold mb-2">
                  Ingredients
               </div>
               <p class="mb-4">{{post.ingredients}}</p>
            </div>
            {% endif %}
            {% if post.instructions %}
            <div>
               <div class="has-text-grey-dark has-text-weight-bold mb-2">
                  Method
               </div>
               <p>{{post.instructions}}</p>
            </div>
            {% endif %}
         </div>

         <p class="mb-2">
            <span style="margin-right: 10px">
               <time datetime="2016-1-1">{{post.date_posted}} •</time>
            </span>
            <span style="margin-right: 15px">
               <i class="fas fa-thumbs-up"></i>
               {{post.likes.count}}
            </span>
            <span>
               <i class="fas fa-comment"></i>
               {{post.comments.count}}
            </span>
         </p>
      </div>
   </a>
</div>