{% extends "website/base.html" %}
{% block content %}

<div class="columns is-centered">
    <div class="column is-7">
        {% for post in posts %}
        <div class="card mb-6 shadow-md is-cursor-pointer" href="{% url 'post-detail' post.id %}">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img src="{{ post.author.profile.image.url }}" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-3">
                            {% if post.type == 'MEAL' %}
                            <small><i class="fa-solid fa-utensils mr-2"></i></small>
                            {% elif post.type == 'RECIPE' %}
                            <small><i class="fa-solid fa-kitchen-set mr-2"></i></small>
                            {% endif %}
                            {{post.title}}
                        </p>
                        <p class="subtitle is-6">
                            <a href="/members/{{post.author.id}}">
                                @{{post.author.username}}
                            </a>
                        </p>
                    </div>
                </div>

                <div class="content">
                    <div class="mb-5">
                        {{post.description}}
                    </div>
                    {% if post.ingredients %}
                    <div>
                        <div class="has-text-grey-dark has-text-weight-bold mb-2">
                            Ingredients
                        </div>
                        <p class="mb-4">{{post.ingredients}}</p>
                    </div>
                    {% endif %}
                    {% if post.instructions %}
                    <div>
                        <div class="has-text-grey-dark has-text-weight-bold mb-2">
                            Method
                        </div>
                        <p>{{post.instructions}}</p>
                    </div>
                    {% endif %}
                </div>

                <p class="mb-2">
                    <span style="margin-right: 10px">
                        <time datetime="2016-1-1">{{post.date_posted}} •</time>
                    </span>
                    <span style="margin-right: 15px">
                        <i class="fas fa-thumbs-up"></i>
                        {{post.likes.length}}
                    </span>
                    <span>
                        <i class="fas fa-comment"></i>
                        {{post.comments.length}}
                    </span>
                </p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{num}}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
    href="?page={{ num }}">{{num}}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
    {% endif %}

    {% endblock %}