<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <h2> Welcome to Homepage</h2>

        <button type="submit"><a href="/members/account">Account</a></button>

        <h2>User Feed</h2>

        {% for post in posts %}
            <h3>{{ post.title }}</h3>
            <p>{{ post.content }}</p>
            <p>{{ post.author }}</p>
            <p>{{ post.date_posted }}</p>
        {% endfor %}

        <script src="" async defer></script>
    </body>

</html>