{% extends "website/base.html" %}
{% block content %}

    <h3>Meals</h3>

    {% for meal in meals %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ meal.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2">{{ meal.author }}</a>
                    <small class="text-muted">{{ meal.date_posted | date:"F d Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'meal-detail' meal.id %}">{{ meal.title }}</a></h2>
                <h3>Description:</h3>
                <p class="article-content">{{ meal.description }}</p>
                <h3>Ingrediants:</h3>
                <p class="article-content">{{ meal.ingrediants }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}