{% extends "website/base.html" %}
{% block content %}

    <h2>Meal</h2>

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted | date:"F d Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            {% if object.type == 'MEAL' %}
                <h3>Description:</h3>
                <p class="article-content">{{ object.description }}</p>
            {% elif object.type == 'RECIPE' %}
                <h3>Description:</h3>
                <p class="article-content">{{ object.description }}</p>
                <h3>Ingredients:</h3>
                <p class="article-content">{{ object.ingredients }}</p>
                <h3>Instructions:</h3>
                <p class="article-content">{{ object.instructions }}</p>
            {% endif %}

            <form method="POST" action="{% url 'like' post.pk %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}">

                <!-- like button is made blue if the user has liked the post -->
                <style>
                    i {
                        color: grey;
                    }
                </style>

                {% for like in post.likes.all %}
                    {% if like == request.user %}
                        <style>
                            i {
                                color: blue;
                            }
                        </style>
                    {%endif%}
                {%endfor%}

                <button type="submit">
                    <i class="fa-solid fa-thumbs-up"></i>
                    {{ post.likes.all.count }}
                </button>
            </form>

        </div>
    </article>
{% endblock %}