{% extends "website/base.html" %}
{% block content %}

    <h2>Meal</h2>

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted | date:"F d Y" }}</small>
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            {% if object.type == 'MEAL' %}
                <h3>Description:</h3>
                <p class="article-content">{{ object.description }}</p>
            {% elif object.type == 'RECIPE' %}
                <h3>Description:</h3>
                <p class="article-content">{{ object.description }}</p>
                <h3>Ingredients:</h3>
                <p class="article-content">{{ object.ingredients }}</p>
                <h3>Instructions:</h3>
                <p class="article-content">{{ object.instructions }}</p>
            {% endif %}

            <!-- Likes -->
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">

                    <!-- like button is made blue if the user has liked the post -->
                    {% for like in post.likes.all %}
                        {% if like == request.user %}
                            <style>
                                i {
                                    color: blue;
                                }
                            </style>
                        {%endif%}
                    {%endfor%}

                    <button type="submit">
                        <i class="fa-solid fa-thumbs-up"></i>
                        {{ post.likes.all.count }}
                    </button>
                </form>
            {% else %}
            <p><i class="fa-solid fa-thumbs-up"></i> {{ post.likes.all.count }}</p>
            <p>Sign in to like posts</p>
            {% endif %}

            <!-- Comments -->
            <div class="comments">
                <h3>Comments ({{ post.comments.count }})</h3>
                {% if user.is_authenticated %}
                    <h4> Add comment: </h4>
                     <form method="POST" action="{% url 'comment' post.pk %}">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.path }}">
                        <input type="text" name="text">
                        <button type="submit">
                            Post comment
                        </button>
                    </form>
                {% else %}
                <p>Sign in to post comments</p>
                {% endif %}
                <br>
                {% for comment in post.comments.all %}
                    <div class="comment">
                        <small> {{ comment.author }} | {{ comment.date_posted }} </small>
                        <p> {{ comment }} </p>
                    </div>
                {% endfor %}
            </div>

            <!-- Reviews if recipe -->
            {% if object.type == "RECIPE" %}
                <div class="reviews">
                    <h3>Reviews ({{ object.reviews.count }})</h3>
                    {% if user.is_authenticated %}
                        <h4> Add review: </h4>
                        <!-- post new review -->
                         <form method="POST" action="{% url 'review' post.pk %}">
                             {% csrf_token %}
                             <input type="hidden" name="next" value="{{ request.path }}">
                             <div class="row">
                                 <label for="title">Title</label>
                                 <br>
                                 <input type="text" id="title" name="title">
                             </div>
                             <div class="row">
                                 <label for="title">Text</label>
                                 <br>
                                <input type="text" id="text" name="text">
                             </div>
                             <div class="row">
                                 <label for="title">Rating</label>
                                 <br>
                                 <input type="range" id="rating" name="rating" min="0" max="5">
                             </div>
                             <div class="row">
                                 <button type="submit">
                                     Post review
                                 </button>
                             </div>
                        </form>
                    {% else %}
                    <p>Sign in to post reviews</p>
                    {% endif %}
                    <br>

                    <!-- display reviews -->
                    {% for review in post.reviews.all %}
                    <div class="review">
                        <strong> {{ review.title }} </strong>
                        <small> {{ review.author }} | {{ review.date_posted }} </small>
                        <p> {{ review.rating }}/5 stars</p>
                        <p> {{ review.text }} </p>
                    </div>
                {% endfor %}
                </div>
            {%endif%}

        </div>
    </article>
{% endblock %}