{% extends "website/base.html" %}
{% block content %}

    <h3>Recipes</h3>
    
    {% for recipe in recipes %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ recipe.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2">{{ recipe.author }}</a>
                    <small class="text-muted">{{ recipe.date_posted | date:"F d Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'recipe-detail' recipe.id %}">{{ recipe.title }}</a></h2>
                <p class="article-content">{{ recipe.description }}</p>
                <p class="article-content">{{ recipe.ingrediants }}</p>
                <p class="article-content">{{ recipe.instructions }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock %}